CLOUD_CLICKER_OPERATIONS_METRICS=/var/lib/cloud-clicker/operations
CLOUD_CLICKER_POSTGRES_DATA=/var/lib/docker/volumes/cloud-clicker_postgres_data/_data
CLOUD_CLICKER_BACKUP_TARGET=/mnt/cloud-clicker-backups
CLOUD_CLICKER_JOURNAL_PATH=/var/log/journal
CLOUD_CLICKER_JOURNAL_BUDGET_FILE=/var/lib/cloud-clicker/journal-budget
